<!--Header de la pagina-->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="vsm-icon pe-7s-users"></i>
      </div>
      <div>
        Red De Amigos
      </div>
    </div>
    <div class="page-title-actions">
      <!--Boton Cerar Publicación-->
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-primary"
              title="publish" (click)="openModal(publish)">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        Crear Publicación
      </button>
    </div>
  </div>
</div>

<!--Columnas de Feed-->
<div class="display-column">
  <!--  columna historias-->
  <div class="col-md-3">
    <div class="main-card mb-3 card">
      <div class="card-header">
        Historias
      </div>
      <!--Informacion-->
      <div class="card-body paddingCardText" *ngFor="let item of usersData">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button type="button" tabindex="0" class="dropdown-item cursor" title="historyPost"
                    (click)="openModal(historyPost)">
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left mr-3">
                    <div class="avatar-icon-wrapper">
                      <div class="badge badge-bottom badge-info badge-dot badge-dot-lg"></div>
                      <div class="avatar-icon"><img
                        src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QM
                        xaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3
                        pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZS
                        A1LjYtYzEzOCA3OS4xNTk4MjQsIDIwMTYvMDkvMTQtMDE6MDk6MDEgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0ia
                        HR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0
                        PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25
                        zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL
                        3hhcC8xLjAvIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQ3MDQwMTEyRUNGMDExRThBNjRDQzQyMTE5Mjk5QTQ0IiB
                        4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQ3MDQwMTExRUNGMDExRThBNjRDQzQyMTE5Mjk5QTQ0IiB4bXA6Q3JlYXRvc
                        lRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOml
                        uc3RhbmNlSUQ9InhtcC5paWQ6RDgzQTU0RjlFQTY4MTFFODhGMzQ4NDBBMjJGNzJDODgiIHN0UmVmOmRvY3VtZW50SUQ9I
                        nhtcC5kaWQ6RDgzQTU0RkFFQTY4MTFFODhGMzQ4NDBBMjJGNzJDODgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJ
                        ERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYF
                        BgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8f
                        Hx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCABAAEADAREAAhEBAxEB/8QAhwA
                        AAgMBAQAAAAAAAAAAAAAABAYDBQcCAQEAAgMBAQAAAAAAAAAAAAAAAAUBAgMEBhAAAgECBAUDAwIHAQAAAAAAAQIDEQQAIR
                        IFMVEiEwZBYXEyQgeBFJGhsXIjMxZiEQACAgIBAgUEAwAAAAAAAAAAARECAwQhMRJRgTITBUFhcSKhQhT/2gAMAwEAAhEDE
                        QA/AE9BdGVhIiLGq17gzzxcyZNbW6vMM6kClfY4go7A+/73tOxWhE7d66JolpEyiUkitWr9K+5xMk1q2Jkv5D3pp+7bW8EE
                        Sj/WQ0hy9SxI/piJNVRDBsPnVrdukG6Qi3nchY7hT/iJPAMDmtfQ8MEkOsDNd2UUsOl1oY6vmMwVzBxUoiOe7tuyjujgsF+
                        01qcsXBJnM8GuMo4pXLPjX0xMEolEZDUI6SM8EAB71u8Ox7S9+Y+4QdEMYyq7/TnyHHEMFSTI44ZJ5GllJZ3JaSRjUtXMmp
                        zOeKmwSI7ZYqDNq9XxgA8lmgYaftoRT0pgkINF/HHkp3BTt1yddzbQgJI2eqNcs/cYtVmdlA43UGuPUatp+n9MWggAjt17j
                        Fs8qivPADI2ljRB3K1JCggEip4YgCm/ItksvjDShgBbyxOaHJgx0EfzrgaJqyh8W8fguIIp5U1ySmi14AcgMKdvYacIcaev
                        VqWaBB+PtumiTuWYISjBgKf0wt/1ZPozueHH4AO/eI2kMZAtUXLpooFKemJx7N0+WTbDRrohM8Sji2v8iwQLVILlJYtHAVZ
                        Cyj+K49BrX7qpsQ7eNVs0jWjQppk6aCtTwpjpOQCa2BAkjNVY8efxiIABhK98BkIovSK5McBYD8tto7jxnc1VDVoKhBSmtS
                        GBz5UxW7hSWpTuskiv8T1W0NrGtvPNEoV5pYYmmKBhUVC88I9nF7lnyh5hyqlUoZrmzT2O4Wuq0ugwj6XSSN4pFPJkcKwxy
                        vC68SaLInyLflU0s0sllYQXN/dRjqdIlS3U8jNIVB+Bi1dddW1APPHCTM2gtp/+02i7aDtyo796OTmOmmX92WGmtftULnk4
                        Nqnfy+OJNIuHjYiOn1kKNXCmGbFaI3t0RQIejSaaT9NMAQVNrBFJcagWqoNASfTLIHEIDu4tm/YXSue5qiYBGNFqBkD84rk
                        9LNMT/dfkl8Q2Rd22yyX9w8IgUrLDE7RiTLT1FM+n7cefvZ1u2PFWajRaWabNuVjttrK7MtvKZDI7TPTT0anfqY1FanGWS/
                        c5NceNJQBxeJ7Tv1ql9MqzXQR4JCzSVjJ+qgUhc+PMYvTLatYRW+NTLFa9sXi8ps7e2k1iyi0SlhVmXUB1H241x1aXLXH9j
                        m2oVXzH6l3JDM+iPurrJqwAHPKmHYlJngnEx6hoU1NBmajAQmL24X72s6XKJqDjtvyA41xUsELeSaAQmoihNPT14HEkHHiO
                        4XVgbn9tV5o5JkMNKtkO4lB7g4RblIyeA81bzjkP8Y8p8gm3aXdbTa0ug6mK4ErnuRn0BI4f204YhYlX7mnutrw8yNd88m2
                        7dhaSWCLdXzh5UhJQIjGlSCPficUthUTMFvdfHEgnjk37zyDc7oP3FiAgaX0Z2csR+igYZ6FGqiv5C6dkhkvoI44RdqmkQs
                        Hk0jNlXiMdwvR1DdR3MfejRirDIDjgASZryGWEoWozZBGBBryxBcavH/A9/wBxeAzr+zjmUdcg6yo+7R9uXPFoKuwn7hYb1
                        t+/7xEjst3YzPb6E6dSR/QfkqePvhVsXTtFhrr42qTUuvG96u463+0XUcUs6gXCu0qFWXI5xEH9DjCXRwzrpdWXRP8AJRee
                        7rfBCFull3S/ko6xF6KqZli7Es3uTjTCu6026Iy2MjSSX8FrsE1ttm229pErBWAlWZh/vL5tKCONcNqpJcCa0tyxvtL22nT
                        tM61IoQ2X8jiYKQeW9o0aMoXQkblo6e/EfGIAufDPEdv2ySKRYzNdFdbXc4BkFftQfSg+M/fGiRDtI+WsYSYMoyQUrzJ4k4
                        CEJv5K8PIvP+psU1wzosW6IPsdelJj/wCSOlj8YTfJ4H615jf4/OvQ/IzHcfG7SaQ3EYktpyeqSFimo8KsBkfnC3HtWXHVD
                        G2CrclBd7ElpqMSvLNKKSzuSx08qnnjppsO3UythSXA/eJbUm4/j7bnZP8ALaTzwRv6hVckAH9cOddzRMSbK7cjB7ja9zgc
                        OUEtuMmIFWGNjKTs7qYljMcanW3bOolQMuOAIP/Z"
                        alt=""></div>
                    </div>
                  </div>
                  <div class="widget-content-left">
                    <div class="widget-heading">{{item.first_name}}</div>
                    <div class="widget-subheading">{{item.last_name}}</div>
                  </div>
                </div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  columna post-->
  <div class="main-card mb-3 card">
    <div class="card-header">
      <div class=" actions-icon-btn">
        <div class="btn-group" ngbDropdown placement="bottom-right">
          <button type="button" ngbDropdownToggle class="btn-icon btn-icon-only btn btn-link"><i
            class="pe-7s-menu btn-icon-wrapper"></i></button>
          <div ngbDropdownMenu class="dropdown-menu-shadow dropdown-menu-hover-link">
            <h6 class="dropdown-header">Mi Cuenta</h6>
            <button type="button" class="dropdown-item">
              <i class="dropdown-icon fa fa-paper-plane"> </i><span>Inbox</span>
            </button>
            <button type="button" class="dropdown-item">
              <i class="dropdown-icon fa fa-envelope"> </i><span>Mensajes Guardados</span>
            </button>
            <button type="button" class="dropdown-item">
              <i class="dropdown-icon fa fa-ticket"> </i><span>Otros</span>
            </button>
            <button type="button" class="dropdown-item">
              <i class="dropdown-icon fa fa-trash"> </i><span>Basura</span>
            </button>
          </div>
        </div>
      </div>
      Noticias
    </div>
    <!--Informacion del feed-->
    <perfect-scrollbar style="height: 2038px;" [autoPropagation]="true">
      <div class="card-body paddingCardText" *ngFor="let item of usersData">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let item of usersData">
            <button type="button" tabindex="0" class="dropdown-item">
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left mr-3">
                    <div class="avatar-icon-wrapper">
                      <div class="badge badge-bottom badge-success badge-dot badge-dot-lg"
                           *ngIf="item.status === 'active'; else inactive"></div>
                      <ng-template #inactive>
                        <div class="badge badge-bottom badge-danger badge-dot badge-dot-lg"></div>
                      </ng-template>
                      <div class="avatar-icon"><img
                        src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/
                            4QMfaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlI
                            enJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBY
                            TVAgQ29yZSA1LjYtYzEzOCA3OS4xNTk4MjQsIDIwMTYvMDkvMTQtMDE6MDk6MDEgICAgICAgICI+IDxyZGY6UkRGIHh
                            tbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3Jpc
                            HRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxu
                            czpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJ
                            odHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQ3MDQwMTE2RUNGMD
                            ExRThBNjRDQzQyMTE5Mjk5QTQ0IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQ3MDQwMTE1RUNGMDExRThBNjRDQz
                            QyMTE5Mjk5QTQ0IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE3IE1hY2ludG9zaCI+IDx4bX
                            BNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJENDFFMzk5RUI1NDJFOUFCNzIzNzUzMDQ3QkJEMkQ3OSIgc
                            3RSZWY6ZG9jdW1lbnRJRD0iRDQxRTM5OUVCNTQyRTlBQjcyMzc1MzA0N0JCRDJENzkiLz4gPC9yZGY6RGVzY3JpcHRp
                            b24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAh
                            AAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcH
                            Bw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCA
                            BAAEADAREAAhEBAxEB/8QAhgAAAgMBAQEAAAAAAAAAAAAABQYDBAcCAQABAAIDAQAAAAAAAAAAAAAAAAIDAQQFABAAA
                            gEDAwMCBAQHAQAAAAAAAQIDEQQFACESMRMGQSJRYSMHMkJSFHGBkaFyMxbBEQACAgICAQQBBQEAAAAAAAABAgARIQMx
                            EgRBUSITFGFxkTIFI//aAAwDAQACEQMRAD8Aw3/j7yr0VPYQCK/HUDyFhnQ4nbeE5FUZ+0pUELWo6nUfkp7yfxdk+fx
                            MWtnNe5FTFbxe1O20YZ3BFQok2agO9N9NTYGFiL2a2Q0eZzY43xwXERu42e3n2jUyGI77V5AMCV+H8ttFYgUYx2f288
                            dyqMMZcyQzL7S1x/pRyKokpIWReVPxCo/jqbEijAF94Pl8fcft72waCYjlGpZWV19HRlJV1PoQdLbco5jF07GFiQL4v
                            eNxAth7gSCSOg0P5CQh4+w+k8Xxm9K1FsCvqeQ135Ke84+Lsh61a8JIe/iZyVLVWm+qOB6TQ6En+wlsy5JWnFzfwwWS
                            0lknZCeIHwHr8tcqA1ids2MpIsRQ8ly4zeQ5RrI0UICQwdwgrxFCwVfpc26njq/YAqUKLEsfWTYuBLZhC80d7jrs0n
                            sJaoxJ/NE35JV69RXQFoQWGhn8rg4O3EFurZVBt7gioliB98cq9Uk6H/IVHXS+9xn11LsXlVnLOMfb3JGHyambGib6g
                            sb0jkU/UI5GqpHp10HXsKMZ26mxJkiuhZWzPeQLPKDyjYUpXqK6rE5ODLaoaBsSaS1uYrXti6iDyD2sR7dcKOaMFgRi
                            xBN+9y8v13iio4JYJTTEFcXB3NdWRB2fy8q4m+tP3EUyukaqUX3AFhy07WuQaMrbcYBBjF9msX45kElF/bRy3aEFeQ
                            6L/wC6lzD0rNyw3j+CCUbG25pszdtWqD09NKBlhll658F8PuouMmKhpvQBeO51xUcyQx4iR5F9mfD5LG7mt0e24kOQ
                            jcehqQpPQ6jWcztqjrVRG8pSCIi0keIIApglcUcxlfaWPxOi6gOSOJXZ2KdTVwLcWWNmEFtFeUkCcmdgSnXpqftPNQ
                            B4oOO0gzN75BkII0bHlIahz7dzT46Zr1KpsGL2b3cURBOVxbHCX17cQvFdRmP6QQheHIAtt01Pf5BRxJGr4ljgxi+2
                            6W+Cw6eR3MEtzPcSOkFvGQoKIacjyooFep0naReZa0D42Jo2L+91lHdLHJjgLSoElxDOkwi+UgAH9tCzFRdQ0IY1cdM
                            79x8dhre3nubaWVbuPuwRwryZ09WFaD19Tpf35qo76cXcXPL/ADK0zfieQgwwntMt2f3MNpcxNG0sURDShDurEJU7HUM
                            QcQTxM2zFteZaa1nhljji7aBUkUEjjXc6ar0OJXZbPIEGZTLXNteR2cdxbKAm7lBSo12tLF0Ye3YVNWsvXORkoskk5U
                            nbiR66M6RVASuvlsCCSIU8Vk/6CzyVtft3HjUSRRR+0sqVHE/qqSNjtpLaevFy7p8nvd1Gb7cWWNucacDkIUdLQCF4+
                            q7bkivzP9dSW7NmQE6rj0jNl/CsTj8e/EyTpIw7cT8CC/RTQLuQuwOnVQ94tcn0H7QrdeLWeXxOOsbyNFKWvC3lkRZF
                            jZajiVPUFTQ6CqIjDkH2lC08GxHi2OnuGdG+k6rDEWFupZChZY3LcWYGjH10t/7dmna1+PRRQmX+XY/GeP3Fqt85gu5
                            4D9OOQupjB4rJQj2lq9Btttp2l2riVvK8fWCD2yREKUYc3jqspeBVBSRhUk/PVgOa4lJtQugYTaC1vp+E11JEUb3rT8W
                            g+wjgQ01K3JqX7P8Af+PZOO/wweWTiwYsOS8WFGR19QdHfZc4gD/m/wAcwh475DfR5OTISMqvcS1vABQIxNKgfp1n71
                            o4mx4+zstn1j15DkcllUuMMUurN24Nb5C3WRiYyOqMgPUGhpolNiGFzjE68anufHpIp8xmZ760gia2gj+oiqtQVkdZVB
                            aRTtWug4NxrKetQn5J5XZw3cLXzMcVEq3F7IoJPZJ91FG5Jr00pWLPUg0iFuJkX3Hztjns/Nk7WVksW7cVhDKlHMEK8V
                            LD0LbmmtJFIxMfbtDm7gSxvYGuwsjpFEVrz7daEeh20JTEkbcy1LcZJI6Xtn9TkDzWm9Dto11qODEvtc8iW7LMuxljl
                            WWNTQsQDTfQ7FHpHeO5zcrQXIxdzJkY2NzYSEpeIVqVr0YD5dDpOzNCqljSetkGxc1LxDyzA5axjguZAUt/p20ivQqg
                            6VPXQhR6xq7L4jccjhMfYtK129yqgse7J3Fp0/NtTfQvUaGJmOeb+TTTQ8baRUiuS00bsP8AciNxog/QCKV/pqfE1W3
                            b2iPO3fDqPWJl5LJciOd7lA609tNgdaAv2mZ1XBBzI5chkYLmOKJoyrj8QT1+e2h6AwztZeJ7cZq+uGVkd1kG1CuwGp
                            XWo4gPscmzD9nbeQW2Plushc21tEqB1iuZVSYg9Kx78dt/dTTj/nMy9qxK6/6wRugNn9rhnxfEfucQn7kdtbz68QA37
                            b7KW/zG9PhrO8gDtQmx4gPQk+sCXPgU9tlXSGWS0iYgLNExWgY9SBpTbSBGfQCYy4L7byveJHeXV3ewV5FZ5D2/48Qd
                            /wCeqrbnbGBLK+Oq/rJvuv4heS3tneWEEkqxWnZhhiXmzdliZAqjrxVgxA3p6a1PCRupCiwP5mZ/olO4LGiRj2/n3mb
                            yWFkgTuTSJLyBEciFfd8KHTu5PpK31KPWStlDDf8ADmrBkBPt9fhoauScGf/Z"
                        alt=""></div>
                    </div>
                  </div>
                  <div class="widget-content-left">
                    <div class="widget-heading">{{item.first_name}} {{item.last_name}}</div>
                    <div class="widget-subheading">{{item.email}}</div>
                  </div>
                </div>
                <!--                IMAGENES-->
                <div>
                  <div class="contenedor">
                    <img src="./assets/images/2.jpg" alt="nature" class="responsive">
                  </div>
                </div>
              </div>
            </button>
            <!--                Feed-->
            <div class="card-header">
              <div class="font-icon-wrapper icon-size">
                <i class="lnr-heart"></i>
                <i class="lnr-bubble" style="margin: 5px;"></i>
              </div>
            </div>
            <!--    post-->
            <div class="card-footer">
              {{postsData[1].body}}
            </div>
            <small>Agregado hace 9 horas</small>
            <textarea class="form-control margin-aling" placeholder="Agrega un comentario" #comment
                      id="comment"></textarea>
            <div class="margin-aling float-right">
              <!--Boton publicar comentario-->
              <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-primary"
                      (click)="publishComment(comment.value)">
                Publicar
              </button>
            </div>
          </li>
          <div class="divider"></div>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</div>

<!--Modales-->
<!--Crear Publicacion-->
<ng-template #publish let-modal="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nueva Publicación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal-body">
      <!--Header-->
      <div class="alert alert-secondary">
        Esta acción le permitirá añadir un nuevo post. Seleccione una foto para subir.
      </div>
    </div>

    <div class="modal-body">
      <div class="col-md-12" class="textCont">
        <strong>Recomendaciones:</strong>
        <ul>
          <li>La imagen ingresada debe tener un peso <strong>MÁXIMO</strong> de 3MB.
          </li>
          <li>La imagen ingresada debe contener un <strong>MÁXIMO</strong> 1943 pixeles en su lado mas ancho.
          </li>
        </ul>
      </div>
    </div>
    <!--Contenido-->
    <div class="mb-3">
      <div class="form-group">
        <div class="col-sm-12" style="text-align: center">
          <i class="fa fa-photo" *ngIf="imagen === null" style="font-size: 194px"></i>
          <img src="{{imagen}}" *ngIf="imagen != null" style="width: 100%">
        </div>
        <div class="col-sm-12" style="margin-top: 27px;">
          <label for="fotoEvento">Foto: </label>
          <input name="foto" id="fotoEvento" type="file" class="form-control-file"
                 (change)="onFileFoto($event.target.files)">
          <small class="form-text text-muted">Seleccione una foto no mayor a <strong>3MB</strong> para subir al feed.
            Esta
            imagen debe ser en formato horizontal con un ancho de 1943 pixeles maximo.
          </small>
        </div>
        <textarea class="form-control margin-aling" placeholder="Agrega un comentario" #comment></textarea>

      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" aria-label="Close" (click)="modal('Close')" type="button">Cerrar</button>
      <button class="btn btn-primary" type="submit" (click)="upPublish(comment.value)">Publicar
      </button>
    </div>
  </div>
</ng-template>

<!--Historia-->
<ng-template #historyPost let-modal="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Historia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal-body">
      <!--Header-->
      <div class="alert alert-secondary">
        ¡¡HEY, mira mi nueva historia!!!
      </div>
    </div>

    <!--Contenido-->
    <div class="mb-3">
      <div class="form-group">
        <div class="col-sm-12" style="text-align: center">
          <img src="./assets/images/1.jpg" class="size-picture">
        </div>

        <div style="text-align: center">
          <div class="font-icon-wrapper icon-size">
            <i class="lnr-heart" style="color: red;"></i>
          </div>
        </div>
        <div class="divider"></div>
        <textarea class="form-control margin-aling" placeholder="Agrega un comentario" #commentHistory></textarea>

      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" aria-label="Close" (click)="modal('Close')" type="button">Cerrar</button>
      <button class="btn btn-primary" type="submit" (click)="publishCommentHistory(commentHistory.value)">Comentar
      </button>
    </div>
  </div>
</ng-template>
