.contenedor
  position: relative
  display: inline-block
  text-align: center

.responsive
  width: 80%
  height: auto
  border-radius: 10px

.icon-size
  font-size: 30px
  cursor: pointer

.margin-aling
  margin-top: 10px

.cursor
  cursor: pointer

.display-column
  display: flex

.size-picture
  width: 80%
  border-radius: 30px
