<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <div class="app-header__content">
    <div class="app-header-right">
      <!--Contenido del Navbar-->
      <div class="d-flex">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <!--              Logout-->
              <div class="widget-content-left">
                <div class="btn-group" ngbDropdown placement="bottom-right">
                  <button type="button" class="btn btn-link p-0 mr-2" ngbDropdownToggle>
              <span>
                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                  <img width="42" src="../assets/images/persona.jpg" alt="" class="rounded-circle">
                </div>
              </span>
                  </button>
                  <div class="dropdown-menu-lg" ngbDropdownMenu>
                    <div class="dropdown-menu-header">
                      <div class="dropdown-menu-header-inner bg-info">
                        <div class="menu-header-image opacity-2 dd-header-bg-6"></div>
                        <div class="menu-header-content text-left">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <img width="42" src="../assets/images/persona.jpg" alt="" class="rounded-circle">
                              </div>
                              <div class="widget-content-left">
                                <div class="widget-heading">Social Light</div>
                                <div class="widget-subheading opacity-8">Aplicación de prueba</div>
                              </div>
                              <div class="widget-content-right mr-2">
                                <button class="btn-pill btn-shadow btn-shine btn btn-focus"
                                        (click)="logout()">Salir
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--              Nombre usuario-->
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">Andrés Acevedo</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
