<!--color fondo-->
<div class="h-100 bg-login bg-animation">
  <!--Lleva tarjeta al centro-->
  <div class="d-flex h-100 justify-content-center align-items-center">
    <!--Amplitud-->
    <div class="mx-auto app-login-box col-md-8">
      <!--Ancho de la tarjeta-->
      <div class="modal-dialog w-100 mx-auto">
        <!--contenedor-->
        <div class="modal-content">
          <!--cuerpo-->
          <div class="modal-body">
            <div class="col-12 text-center">
              <img class="loginAling" src="assets/images/social.png">
            </div>
          </div>
          <form [formGroup]="accountForm">
            <div class="modal-body">
              <div role="group" class="form-group">
                <div>
                  <input type="email" placeholder="Usuario" required="required"
                         aria-required="true" class="form-control" formControlName="user">
                </div>
              </div>
              <div role="group" class="form-group">
                <div>
                  <input type="password" placeholder="Contraseña" required="required"
                         aria-required="true" class="form-control" formControlName="password">
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input id="rememberCheck" type="checkbox" name="rememberCheck"
                       autocomplete="off" class="custom-control-input"
                       value="true">
                <label for="rememberCheck" class="custom-control-label">
                  Recordarme
                </label>
              </div>
            </div>
            <div class="modal-footer clearfix">
              <div class="float-left"><a [routerLink]="" class="btn-lg btn btn-link">Olvidó su contraseña?</a></div>
              <div class="float-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="onSumbit()">Iniciar Sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Andrés Acevedo 2020
      </div>
    </div>
  </div>
</div>
